{% extends "base.html" %}

{% block content %}
  <div class="col-xs-12">
<dl class="dl-horizontal">
  {% set cur_date = "" %}
  {% for article in dates_paginator.object_list %}
  {% if article.date|strftime("%m/%d/%Y") != cur_date %}
  {% set cur_date = article.date|strftime("%m/%d/%Y") %}
  <dt>{{ cur_date }}</dt>
  {% endif %}
  <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br />{{ article.date|strftime("%I:%M %p") }}<br /><br />{{ article.summary }}</dd>
  {% endfor %}
</dl>
  </div>

  {% include "includes/pagination.html" %}
{% endblock %}
